{% import_yaml "sqlite/defaults.yaml" as defaults %}
{% import_yaml "sqlite/osmap.yaml" as osmap %}

{% set sqlite = salt['grains.filter_by'](
  defaults,
  merge=salt['grains.filter_by'](
        osmap,
        grain='os_family',
        merge=salt['pillar.get']('sqlite', {}),
        ),
  base = 'sqlite',
)
%}

# Set release details
{% set url  = sqlite.get('sqlite:uri', '{0}/{1}'.format(sqlite.uri, sqlite.archive_name)) %}

{% do sqlite.update({ 'src_url': url }) %}
